@use './partials/variables' as *;

// bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';
@import './partials/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

li {
    list-style-type: none;
}

a {
    text-decoration: none;

}

.fa-solid,
.fa-brands {
    font-size: 20px;
    padding: 10px;

    &:hover {
        cursor: pointer;
    }
}

button {
    padding: 10px 30px;
    border-color: $arancio;
    color: $arancio;
    background-color: rgba($color: black, $alpha: 0);
}